*{
    margin: 0;
}
header{
    background-color: darkgoldenrod;
    color: beige;
    height: 100px;
    text-align: center;
}
.content{
    background-color: rgba(184, 135, 11, 0.838);
    color: beige;
    height: 200px;
    text-align: center;
}
.sign{
    background-color: rgba(184, 135, 11, 0.682);
    color: beige;
    height: 70px;
    text-align: center;
}
.feature{
    overflow: hidden;
}
.feature_one{
    background-color:rgb(232, 199, 115);
    color: beige;
    height: 400px;
    width: 33.3%;
    text-align: center;
    float: left;
}
.feature_two{
    background-color:rgba(213, 172, 69, 0.836);
    color: beige;
    height: 400px;
    width: 33.3%;
    text-align: center;
    float: left;
}
.feature_three{
    background-color:rgb(232, 199, 115);
    color: beige;
    height: 400px;
    width: 33.3%;
    text-align: center;
    float: left;
}
footer{
    background-color: darkgoldenrod;
    color: beige;
    height: 100px;
    text-align: center;
}